
ALLOWED_API_KEYS=
ALLOWED_MODELS=gpt-4o-mini,gpt-4o,gemini/gemini-1.5-flash,gemini/gemini-1.5-pro


OPENAI_API_KEY=
GEMINI_API_KEY=


PRIMARY_MODEL=gpt-4o-mini
FALLBACK_MODEL=gemini/gemini-1.5-flash


DB_PATH=gateway.db
